@import-less url("../theme.less");

#snac-schema-panel, #snac-issues-panel, #snac-preview-panel {
  display: block;
  overflow: hidden;
  height: 100%;
  background-color: white;
  font-size: 1.2em;
}

#snac-schema-preview-tab, #snac-schema-issues-tab, #snac-schema-alignment-tab {
  overflow: auto;
  height: 100%;
}

#snac-schema-alignment-tab {
  overflow: hidden;
}

.snac-schema-alignment-dialog-canvas {
  background: white;
  overflow-y: auto;
}

.snac-schema-alignment-dialog-selection-area {
  padding: 10px;
  /*max-width: 900px;*/
  overflow-y: auto;
}

.snac-panel-explanation {
  margin: 1em;
}

.snac-schema-alignment-save {
  float: right;
  padding: 1em;
}

.snac-schema-alignment-save button:disabled {
  color: gray;
}

.snac-schema-alignment-save button {
  font-weight: normal;
}

.snac-dynamic-data-container {
  display: flex;
}

.snac-dynamic-data-container table {
  margin-top: 10px;
}

.snac-area-dropdown {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.snac-area-schema-field {
  margin-left: 30px;
}

.snac-draggable-field {
  border: 1px solid #aaa;
  padding: 3px;
  margin: 3px;
  background-color: #eee;
  display: inline-block;
  padding-bottom: 3px;
  max-width: 95%;
  border-radius: 4px;
}

.ui-droppable .snac-draggable-field {
  margin: 0px;
  padding: 0px;
  padding-left: 2px;
}

/* individual fields in each table column */

.snac-cell-openrefine-name {
  width: 150px;
}

.snac-cell-select-dropdown {
  width: 180px;
  margin-top: 5px;
}

.snac-cell-schema-field {
  width: 170px;
}

/*** Warnings rendering ****/

#snac-issues-panel table {
  width: 100%;
}

.snac-warning h1 {
  font-size: 1.2em;
}

tr.snac-warning:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.snac-warning-count span,
.snac-schema-alignment-total-warning-count {
  color: white;
  background-color: #777;
  padding: 0px 5px;
  border-radius: 0.5em;
}

.snac-warning-body {
  padding: 5px;
  vertical-align: top;
}

.snac-warning-count {
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

/*** Schema preview ***/

div.snac-schema-alignment-dialog-preview {
  min-height: 340px;
  /*max-width: 900px;*/
  overflow: auto;
  background: white;
  padding: 10px;
  margin-top: 3px;
  white-space: pre;
  font-size: 9pt;
}

/* Tooltips for schema fields */

.snac-tooltip {
  position: relative;
  display: inline-block;
}

.snac-tooltip .snac-tooltip-text {
  visibility: hidden;
  width: 320px;
  background-color: royalblue;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.snac-tooltip .snac-tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent royalblue transparent transparent;
}

.snac-tooltip:hover .snac-tooltip-text {
  visibility: visible;
}

.snac-schema-preview-row:hover {
  background-color: #dbe9fa;
}

.snac-schema-preview-column-field {
  padding: 3px;
  font-weight: bold;
}

.snac-schema-preview-column-value {
  padding: 3px;
  padding-left: 15px;
}

.snac-schema-preview-list-item {
  margin-left: 1em;
}

.snac-reload-preview {
  margin-left: 10px;
}

.snac-required-field {
  border-width: 2px;
  border-color: royalblue;
  margin: 2px;
}
